IO_LOC "led[2]" 11;
IO_PORT "led[2]" IO_TYPE=LVCMOS33 DRIVE=4;
IO_LOC "led[1]" 10;
IO_PORT "led[1]" IO_TYPE=LVCMOS33 DRIVE=4;
IO_LOC "led[0]" 9;
IO_PORT "led[0]" IO_TYPE=LVCMOS33 DRIVE=4;
IO_LOC "btn_vol_n" 29;
IO_PORT "btn_vol_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "btn_dn_n" 44;
IO_PORT "btn_dn_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "btn_up_n" 13;
IO_PORT "btn_up_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "I_clk" 47;
IO_PORT "I_clk" IO_TYPE=LVCMOS33;

IO_LOC "scl" 20;
IO_PORT "scl" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "sda" 34;
IO_PORT "sda" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "cs" 16;
IO_PORT "cs" IO_TYPE=LVCMOS33;
IO_LOC "sclk" 18;
IO_PORT "sclk" IO_TYPE=LVCMOS33;
IO_LOC "mosi" 17;
IO_PORT "mosi" IO_TYPE=LVCMOS33;
IO_LOC "miso" 22;
IO_PORT "miso" IO_TYPE=LVCMOS33;

IO_LOC "bclk" 28;
IO_PORT "bclk" IO_TYPE=LVCMOS33;
IO_LOC "lrclk" 15;
IO_PORT "lrclk" IO_TYPE=LVCMOS33;
IO_LOC "sout" 23;
IO_PORT "sout" IO_TYPE=LVCMOS33;
